# ==========================================
# 影像處理 (主辨識流程、數據處理、機器學習)
# ==========================================
numpy
pandas
scikit-image
scipy
ultralytics
Pillow
opencv-contrib-python-headless==4.13.0.92

# ==========================================
# API開發 (api.py)
# ==========================================
fastapi
uvicorn[standard]
python-multipart


# ==========================================
# 手動辨識 (identify.py手動辨識用)
# ==========================================
openpyxl
py7zr
rarfile

# ==========================================
# 網頁demo (app.py前端介面用)
# ==========================================
streamlit

